<h1>Terminez la création de votre compte.</h1>

<p>
    Bonjour,<br>
    Votre adresse e-mail a été enregistrée auprès de <b>Snowtricks</b>. Pour valider votre compte et profiter pleinement des fonctionnalités de Snowtricks, veuillez compléter votre profil en cliquant sur le lien ci-dessous : <br>
    <br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    <br>
    Si vous n'avez pas associé votre adresse à un compte Sendinblue, veuillez ignorer ce message et ne pas cliquer sur le lien ci-dessus.<br>
    <br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement,<br>
    L'équipe Snowtricks.
</p>