{% extends 'base.html.twig' %}

{% block title %}modification de mot de passe{% endblock %}

{% block body %}

{% for flash_error in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<main class="form-signin pt-5 mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-center">
            <h1 class="h3 fw-normal">Email envoyé</h1>
        </div>
        <div class="card-body">
            <p>
            Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien de réinitialisation de mot de passe vient d'être envoyé. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
        </div>
        <div class="card-footer">
            <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
        </div>
    </div>
</main>

{% endblock %}
