{% extends 'base.html.twig' %}

{% block title %}Snow Tricks
{% endblock %}

{% block body %}

<div id="home">
	<div class="landing-text">
		<h1 class="h1 text-dark">SnowTricks</h1>
		<h3 class="h3 text-dark">Explorez l'art et la philosophie du snowboard à travers notre sélection de figures sensationnelles sur notre site.</h3>
		{# <div class=""> #}
			<div class="show-down w-100 d-flex justify-content-end">
				<a href="#content-page" class="btn me-3">
					<i class="fas fa-2x fa-chevron-down text-dark"></i>
				</a>
			</div>
		{# </div> #}
	</div>
</div>
<div class="container mt-3 pt-5" id="content-page">

	<h3 class="h3 text-dark">Listes des Tricks</h3>

	<div class="row" id="tricks-list" data-tricks="{{ tricks|length }}">
		<div class="col-12 text-center text-warning mb-5">Aucun trick à afficher</div>
	</div>
	
	<div class="text-center">
		{% if tricks|length >= 12 %}
		    <button class="btn btn-light btn-block a" id="load-more" style="display: none;">Load More</button>
        {% endif %}
	</div>
</div>
<div class="d-flex justify-content-end">
	<a href="#content-page" class="btn me-3">
		<i class="fas fa-2x fa-chevron-up text-light"></i>
	</a>
</div>

<script>
	var paginate_tricks_url = "{{ path('app_trick_paginate') }}"
	var page = 1
</script>
{{ encore_entry_script_tags('index') }}

{% endblock %}