<form method="post" action="{{ path('app_trick_delete', {'slug': trick.slug}) }}" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <input  type="submit" class="d-none"></button>
</form>
